<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">О Йоде</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/blog/">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts/">Написать письмо</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5" style="padding-top: 20px;">
        <h1>Блог Магистра Йоды</h1>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Мудрость Силы</h5>
                <p class="card-text">Сила — наш союзник. Могучий союзник она. Жизнь её сотворила и вырастила. Её энергия
                    окружает нас и связывает. Мы существа из света. А размер бицепсов роли не играет.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Обучение джедаев</h5>
                <p class="card-text">Тренирую джедаев восемьсот лет. Многое узнал я за это время. Мудрость передаю я
                    своим ученикам, чтобы они могли стать защитниками мира и справедливости в Галактике.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Тьма и свет</h5>
                <p class="card-text">Тенью жадности привязанность является. Должен научиться отказываться ты от того,
                    что боишься потерять. Из головы страх выкинь, и потеря не причинит вреда тебе.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Сила и знание</h5>
                <p class="card-text">Джедаи используют силу для познания. Для нападения — никогда. Полон коррупции
                    сенат. Контролировать надо его, пока нельзя заменить продажных сенаторов честными.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Изменения в Галактике</h5>
                <p class="card-text">Изменилась Галактика. Но не видел этого я. Слишком самонадеян был, не видел, что
                    прежний путь — не единственный. Те джедаи, учил которых я, чтобы стали такими, как те, что учили
                    меня много столетий назад, в другое время живут.</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>