{% extends 'template.html' %}
{% block content %}
        <h1>Блог Магистра Йоды</h1>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Мудрость Силы</h5>
                <p class="card-text">Сила — наш союзник. Могучий союзник она. Жизнь её сотворила и вырастила. Её энергия
                    окружает нас и связывает. Мы существа из света. А размер бицепсов роли не играет.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Обучение джедаев</h5>
                <p class="card-text">Тренирую джедаев восемьсот лет. Многое узнал я за это время. Мудрость передаю я
                    своим ученикам, чтобы они могли стать защитниками мира и справедливости в Галактике.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Тьма и свет</h5>
                <p class="card-text">Тенью жадности привязанность является. Должен научиться отказываться ты от того,
                    что боишься потерять. Из головы страх выкинь, и потеря не причинит вреда тебе.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Сила и знание</h5>
                <p class="card-text">Джедаи используют силу для познания. Для нападения — никогда. Полон коррупции
                    сенат. Контролировать надо его, пока нельзя заменить продажных сенаторов честными.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Изменения в Галактике</h5>
                <p class="card-text">Изменилась Галактика. Но не видел этого я. Слишком самонадеян был, не видел, что
                    прежний путь — не единственный. Те джедаи, учил которых я, чтобы стали такими, как те, что учили
                    меня много столетий назад, в другое время живут.</p>
            </div>
        </div>
{% endblock %}