{% extends 'template.html' %}
{% block content %}
        <div class="row">
            <div class="col-md-4">
                <img src="../static/image/yoda.jpeg" class="img-fluid rounded-circle" alt="Фото Магистра Йоды">
            </div>
            <div class="col-md-8">
                <h1>Магистр Йода</h1>
                <p>Магистр Йода был одним из сильнейших и мудрейших джедаев своего времени. Он родился на неизвестной
                    планете и принадлежал к неизвестной расе. Йода посвятил свою жизнь служению Ордена джедаев и
                    обучению молодых падаванов. В течение более чем 800 лет он тренировал джедаев, включая таких
                    известных, как Люк Скайуокер и Оби-Ван Кеноби.</p>
                <h2>Краткая биография</h2>
                <ul>
                    <li>Родился: неизвестная планета</li>
                    <li>Рост: 66 сантиметров</li>
                    <li>Орден джедаев: Гранд-мастер</li>
                    <li>Известные ученики: Люк Скайуокер, Оби-Ван Кеноби</li>
                </ul>
                <h2>Навыки и достижения</h2>
                <ul>
                    <li>Мастерство владения световым мечом</li>
                    <li>Глубокое понимание Силы</li>
                    <li>Опыт в обучении джедаев более 800 лет</li>
                    <li>Мудрость и стратегическое мышление</li>
                </ul>
            </div>
        </div>
{% endblock %}